* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
    background-color: #333;
}


.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.shadow-bg {
    background: rgba(0, 0, 0, 0.7);
}

nav {
    transition: .6s;
    font-size: 20px;
    .navbar-brand {
        font-weight: bold;
        color: white;
    }
    .navbar-brand:hover,.navbar-brand:focus {
        color: white;
    }
    .logo {
      max-width: 50px;  
    } 
    .nav-link {
        color: rgb(168, 168, 168);
    }
    .nav-link:hover, .nav-link:focus {
        color: rgb(236, 236, 236);
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: rgb(255, 255, 255);
    }
    .navbar-toggler {
        background-color: white;
        padding: 5px 10px 5px 10px;
        font-size: 25px;
    }
}

header {
    position: relative;
    background-image: url(../images/zdjeciesklad.JPG);
    background-position: center;
    background-size: cover;
    height: 80vh;
    .hero-text {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .image-shadow {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
    }
    h1 {
        font-weight: bold;
    }
    p {
        font-size: 20px;
    }
}

section {
    h2{
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
    }
    text-align: center;
    color: white;
    height: 30vh;
    .carousel {
        display: flex;
        align-items: center;
        height: 100%;
        .carousel-item {
            text-align: center;
            h4{
                font-size: 40px;
                align-items: center;
            }
        }
    }
    .aboutus-text {
        display: flex;
        justify-content: center;
        width: 100%;
        p {
            width: 80%;
        }
    }
    .card {
        background-color: rgb(255, 255, 255);
        border-radius: 200px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 80%;
        .card-img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            margin: 5px 25% 0 25%;
        }
        .card-text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        h5 {
            font-size: 15px;
        }
        .left {
            left: -10%;
        }
        .right {
            right: -10%;
        }
    }
}

@media (max-width: 992px)
{
    .logo {
        display: none;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 22px;
    }
}

@media (min-width: 576px)
{
    section .card .card-img{
        width: 70px;
        margin: 0 25% 0 25%;
    }
    section .card h5 {
        font-size: 25px;
    }
}

@media (min-width: 1200px)
{
    .card {
        background-color: rgb(255, 255, 255);
        border-radius: 200px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 80%;
        h5 {
            font-size: 30px;
        }
    }
    section .card .card-img{
        width: 150px;
        margin: 0 25% 0 25%;
    }
}
